body{
    background-color: #313338;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
    font-size: larger;
    font-family: 'Young Serif', serif, sans-serif;
    h1{
        font-size: x-large;
        font-family: 'Young Serif', serif, sans-serif;

    }
}

ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
hr{
    border-color: white;
}

.c-search-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 95%;
    margin-bottom: 1rem;
    min-width: calc(345/16*1rem);
}

.c-search-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.c-search-selector-container, .c-search-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
input, select, button{
    font-family: 'Young Serif', serif, sans-serif;
    padding: 0.4rem;
}

button{
    margin-top: 0.4rem;
    background-color: #3385FF;
    border: #2E77E6;
    color: white;
    border-radius: 0.2rem;
}

button:hover{
    background-color: #2E77E6;
}

.u-hidden {
    display: none;
}

/* MATCHES */
.matches{
    background-color: #313338;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.match{

    color: lightgrey;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    p{
        margin: 0;
    }
}
.summary{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.kda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    img{
        width: calc(48/16*1rem);
        height: calc(48/16*1rem);
        border-radius: 50%;
    }
    p{
        color: white;
        margin: 1rem;
        font-size: 1.5rem;
    }
    strong{
        color: #E84057;
    }
}
.summoners{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    img{
        width: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    li{
        display: flex;
        align-items: center;
        margin: 0.25rem;
        font-size: 1.1rem;
    }
}

.gameMode{
    font-weight: bold;
}
.outcome{
    font-weight: bold;
}
.win{
    background-color: #28344E;
    border: 5px solid #3385FF;
    button{
        background-color: #3385FF;
    }
}
.win > div > div > p:first-child {
    color:#3385FF;
}
.lose{
    background-color: #59343B;
    border: 5px solid #E84057;
    button{
        background-color: #E84057;
    }
}
.lose > div > div > p:first-child {
    color:#E84057;
}

.player{
    color: white;
}

.chart {
    background-color: #F5F6FA;
    overflow: hidden;
    border-bottom-left-radius: 0.20rem;
    border-bottom-right-radius: 0.20rem;
    transition: height 0.2s ease-out; 
    height: calc(180/16*1rem); 
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .chart canvas {
    width: calc(350/16*1rem);
    height: calc(180/16*1rem);
  }
  
  .u-hiddenStats {
    height: 0; 
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .chart:not(.u-hiddenStats) {
    height: calc(180/16*1rem);
  }
  
.buttonRadius{
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


@media screen and (min-width: 768px) {
    .c-search-container {
        width: calc(800 / 16 * 1rem);
    }

    #div2 {
        width: calc(800 / 16 * 1rem);
    }

    .match {
        width: calc(800 / 16 * 1rem);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .chart canvas {
        width: calc(800/16*1rem);
        height: calc(400/16*1rem);
    }
    
    .chart:not(.u-hiddenStats) {
        height: calc(400/16*1rem);
    }
    
    .kda {
        width: 100%; /* Adjust as needed */
    }
    .statsButton{
        grid-column: span 2;
    }
    .chart{
        grid-column: span 2;
    }
    .summoners{
        padding: 0;
        align-items: center;
    }
    .summary > :first-child {
        width: 8rem;
    }
}


